@mixin flex-to-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-to-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

