$blue: rgb(097, 135, 216);
$bluelight: rgb(119, 159, 247);
$green: rgb(143, 197, 143);
$greenlight: rgb(184, 240, 184);
$blackish: rgba(0,0,0,0.4);

$f-basis: 'Oswald', sans-serif;
$f-sfeer: 'Lobster', cursive;

$mobile-sm: 576px;
$mobile-md: 768px;
$mobile-lg: 992px;