/**************** General Styling of Webpage *********************/
body {
    font-family: 'Jockey One', sans-serif;
    font-size: 1.1vw;
    text-align: center;
    margin: 0;
    /* background: linear-gradient(rgba(255,255,255,1) 0%, rgba(224,221,221,1) 67%, rgba(255,255,255,1) 100%) no-repeat; */
    background: linear-gradient(299deg, #e4e4e4, #a5f9cd, #8efbf7);
    background-size: 800% 800%;
    animation: TGinMotion 10s ease infinite;
    }
    @keyframes TGinMotion {
        0%{background-position:0% 9%}
        50%{background-position:100% 92%}
        100%{background-position:0% 9%}
    }
    
    
h1, h2, h3, h4, h5 { font-family: ;  margin: 0px 0px; }
h1 { font-size: 4em;}
h2 { font-size: 1.8em; padding-bottom: 12px;}
h3 { font-size: 1.8em;}
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }

/******************** Introduction *************************/
.header {
    width: 1150px;
}
.introduction {
    color: rgb(80,190,80);
    margin: auto;
    width: 50vw;
    text-align: center;
    font-size: 2.3em;
    mix-blend-mode: difference;
}
.green { color: rgb(40,130,40); font-size: 1.5em;}

/******************** Flip-card Basics *************************/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(100,100,100,0.3)}
.flip-card {
    background-color: transparent;
    width: 30vw;
    height: 30vw;
    perspective: 1000px;
    margin: 30px 30px;
    padding: 0 80px;
    /* flex: 0 0 30%;  */
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 14px black; }
.flip-card:hover .flip-card-inner { transform: rotateY(180deg); }
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
.flip-card-front { background-color: white;  }
.flip-card-front img { width: 100%; height: 100%; }
.flip-card-back { color: white; transform: rotateY(180deg);}

/******************** Backside Layout *************************/
#HTML5 { background-color: #E54D26; }
#CSS3 { background-color: #0170BA; }
#Sass { background-color: #CC6799}
#Bootstrap { background-color: #563D7C;}
#Javascript { background-color: #E9CA32;}

.fc-back-top { 
    background-color: RGB(160,160,160); text-shadow: 2px 2px 6px rgba(0,0,0,0.6);}
.fc-back-bottom { display: flex; justify-content: center; flex-wrap: wrap; }
.nav { text-align: left; padding: 10px 20px; align-content: center; text-shadow: 2px 2px 4px rgba(0,0,0,0.6)}
.nav ul {    list-style-type: none; margin: 0 0; padding: 0 0; }
.nav a {     color: rgba(255,255,255,1); text-decoration: none; }
.nav a:hover {color: rgba(255,255,255,0.88); }

