.container {
    background-color: rgb(156, 196, 241);
    border: 2px solid black;
    display: inline-flex;
    margin: 0px 10px;
    height: 250px;
    max-width: fit-content;
}
h2 {
    color: rgb(92, 95, 250);
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 2px 8px;
    background-color: black;
    max-width: fit-content;
}

.item { 
    margin: 4px;
    background-color: rgba(50,50,50,0.3);
    padding: 20px 40px;
    text-decoration-line: underline;
  }
  
.item:nth-child(even) {
    padding-bottom: 70px;
    padding-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
}

.item:nth-child(3) {     padding: 80px 40px; }
.fstart {     align-items: flex-start; }
.fend {     align-items: flex-end; }
.fstretch {     align-items: stretch; }
.fcenter {     align-items: center; }
.fbaseline {     align-items: baseline; }

.container6 {
    background-color: rgb(234, 252, 168);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    height: 420px;
    width: 750px;
    justify-content: center;
    align-items: flex-start;
}
h3 {
    color: rgb(234, 252, 168);
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 2px 8px;
    background-color: black;
    max-width: fit-content;
}
.item6 { 
    margin: 3px;
    background-color: rgb(147, 79, 224);
    flex-grow: 0;
    color: rgb(147, 79, 224);
    }  
.een {     padding: 0px 320px; }    
.twee {    padding: 0px 150px; }
.drie {     padding: 0px 180px; }    
.vier {     padding: 0px 210px; }
.vijf {     padding: 0px 90px; }    
.zes {     padding: 0px 120px; }

