body {
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.container {
    background-color: rgb(234, 252, 168);
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    height: 720px;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    color: rgb(234, 252, 168);
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 2px 8px;
    background-color: rgba(0,0,0,1);
    max-width: fit-content;
}

.item { 
    margin: 3px;
    background-color: rgb(147, 79, 224);
    flex-grow: 0;
    color: rgb(147, 79, 224);
    }
    
.een {     padding: 320px 10px; }    
.twee {     padding: 150px 10px;}
.drie {     padding: 180px 10px;}    
.vier {    padding: 210px 10px;}
.vijf {    padding: 90px 10px;}    
.zes {    padding: 120px 10px;}
/*-----------------------------------------*/
.group {
    display: inline-flex;
    width: 376px;
    flex-wrap: wrap;
    margin: 0px 10px;
    padding: 7px;
    border: 1px solid black;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    border-top-right-radius: 4%;
}
.cube {
    font-size: xx-large;
    font-weight: bolder;
    padding: 40px 50px;
    max-width: fit-content;
    border-radius: 10%;
    border: 1px solid black;
}

.one {background-color:rgb(234, 252, 168);}
.two {background-color: skyblue;}
.three {background-color: springgreen;}
.four {background-color: white;}
.five {background-color: black;color: white;}
.six {background-image: linear-gradient(to bottom right, blue, white)}

/*-----------------------------------------*/

.games {
    display: flex;
    border: 1px solid black;
    background-color: rgb(190,190,190);
    max-width: fit-content;
}

.card {
    width: 250px;
    background-color: white;
    border: 1px solid blue;
    text-align: center;
    margin: 10px;
    position: relative;

}

img {
    width: 250px;
    height: 188px;
    object-fit: cover;
    object-position: bottom;
}

h3 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin-top: 4px;
}

h4 {
    background-color: blue;
    color: white;
    margin-bottom: 0px;
    padding: 8px 0px;
}

