



/*------------- RESPONSIVENESS ---------------*/

@media (max-width:576px){


         
    .menu-lijst:before {
        content: url("images/chef1.webp");
        position: absolute;
        bottom: -6px;
        left: 55px;
        z-index: -1; 
        opacity: 35%; }
}

@media (min-width:576px) and (max-width:768px){
    .menu-lijst { 
    .menu-lijst:before {
            content: url("images/chef1.webp");
            position: absolute;
            bottom: -6px;
            z-index: -1; 
            opacity: 35%; }
}